#!/bin/bash
#PBS -l walltime={{ to_walltime(batch_job_walltime) }}
#PBS -l nodes=1:ppn=1
#PBS -N {{ case_name }}
{% if (batch_job_walltime <= datetime.timedelta(hours=4)) %}
#PBS -q short
{% endif %}
#PBS -A cpe-testbed
#PBS -o "stdout"
#PBS -e "stderr"

module purge
module use /projects/cpe-testbed/opt/modulefiles
module load epel
module load xerces-c/3.1.1 gridlab-d/3.0
gridlabd model.glm
